In [2]:
import pandas as pd
import numpy as np

In [3]:
import datetime

In [4]:
df = pd.read_excel('Test.xlsx')
df2 = pd.read_excel('Test.xlsx', sheet_name="Wykonania")

In [5]:
df = df.rename(columns ={'Produkt':'KOD_POLPRODUKTU'})

In [6]:
df2.dtypes

KOD_POLPRODUKTU              object
TYP_STANU                    object
ILOSC                         int64
DATA_WPROWADZENIA    datetime64[ns]
OSOBY                         int64
dtype: object

In [7]:
df3.dtypes

NameError: name 'df3' is not defined

In [9]:
df3 = pd.merge(df2, df, on='KOD_POLPRODUKTU',how='outer')
df3.dtypes

KOD_POLPRODUKTU                       object
TYP_STANU                             object
ILOSC                                float64
DATA_WPROWADZENIA             datetime64[ns]
OSOBY                                float64
Produkt_jm                            object
Typ_operacji                          object
Czas_s/szt                           float64
Szt/h                                float64
Czas_przygotowawczy w sek.           float64
dtype: object

In [10]:
df3 = df3.set_index(pd.DatetimeIndex(df3['DATA_WPROWADZENIA']))
pierwsza = df3.between_time('6:00', '14:00')
druga = df3.between_time('14:00', '22:00')

In [16]:
pierwsza

,KOD_POLPRODUKTU,TYP_STANU,ILOSC,DATA_WPROWADZENIA,OSOBY,Produkt_jm,Typ_operacji,Czas_s/szt,Szt/h,Czas_przygotowawczy w sek.
DATA_WPROWADZENIA,,,,,,,,,,
2021-05-26 13:39:06.097,3052.03,ZAKŁAD NR 1,123.0,2021-05-26 13:39:06.097,3.0,SZT,A1-B1,50.0,72.0,400.0
2021-05-26 13:39:25.922,3773,ZAKŁAD NR 1,20.0,2021-05-26 13:39:25.922,3.0,SZT,A1-B1,30.0,120.0,400.0
2021-06-24 13:38:16.517,3773,ZAKŁAD NR 1,500.0,2021-06-24 13:38:16.517,3.0,SZT,A1-B1,30.0,120.0,400.0
2021-05-26 13:39:50.076,3574.10,ZAKŁAD NR 1,120.0,2021-05-26 13:39:50.076,3.0,SZT,A1-B5,40.0,90.0,400.0
2021-05-26 13:41:15.495,3E98,ZAKŁAD NR 1,101.0,2021-05-26 13:41:15.495,3.0,SZT,A1-B1,60.0,60.0,400.0
...,...,...,...,...,...,...,...,...,...,...
2021-06-25 13:35:57.657,3B38,ZAKŁAD NR 1,54.0,2021-06-25 13:35:57.657,3.0,SZT,A1-B5,40.0,90.0,400.0
2021-06-25 13:36:10.289,3201.03,ZAKŁAD NR 1,96.0,2021-06-25 13:36:10.289,3.0,SZT,A1-B1,60.0,60.0,400.0
2021-06-25 13:37:09.161,3826.01,ZAKŁAD NR 2,4.0,2021-06-25 13:37:09.161,10.0,SZT,A1-B1,100.0,36.0,400.0
2021-06-25 13:37:23.785,3A36.05,ZAKŁAD NR 2,15.0,2021-06-25 13:37:23.785,10.0,SZT,A1-B1,40.0,90.0,400.0
2021-06-25 13:38:28.499,3058.05,ZAKŁAD NR 2,1.0,2021-06-25 13:38:28.499,10.0,SZT,A1-B1,50.0,72.0,400.0

In [33]:
def count_work_time(amount):
    return amount * 27000
# pierwsza = pierwsza.drop(columns=['DATA_WPROWADZENIA'], axis=1)
pierwsza = pierwsza.reset_index()
pierwsza[['OSOBY']].apply(lambda pierwsza: count_work_time(pierwsza['OSOBY']), axis=1)

pierwsza

,DATA_WPROWADZENIA,KOD_POLPRODUKTU,TYP_STANU,ILOSC,OSOBY,Produkt_jm,Typ_operacji,Czas_s/szt,Szt/h,Czas_przygotowawczy w sek.,czas_dos_zm_sek
0,2021-05-26 13:39:06.097,3052.03,ZAKŁAD NR 1,123.0,3.0,SZT,A1-B1,50.0,72.0,400.0,81000.0
1,2021-05-26 13:39:25.922,3773,ZAKŁAD NR 1,20.0,3.0,SZT,A1-B1,30.0,120.0,400.0,81000.0
2,2021-06-24 13:38:16.517,3773,ZAKŁAD NR 1,500.0,3.0,SZT,A1-B1,30.0,120.0,400.0,81000.0
3,2021-05-26 13:39:50.076,3574.10,ZAKŁAD NR 1,120.0,3.0,SZT,A1-B5,40.0,90.0,400.0,81000.0
4,2021-05-26 13:41:15.495,3E98,ZAKŁAD NR 1,101.0,3.0,SZT,A1-B1,60.0,60.0,400.0,81000.0
...,...,...,...,...,...,...,...,...,...,...,...
555,2021-06-25 13:35:57.657,3B38,ZAKŁAD NR 1,54.0,3.0,SZT,A1-B5,40.0,90.0,400.0,81000.0
556,2021-06-25 13:36:10.289,3201.03,ZAKŁAD NR 1,96.0,3.0,SZT,A1-B1,60.0,60.0,400.0,81000.0
557,2021-06-25 13:37:09.161,3826.01,ZAKŁAD NR 2,4.0,10.0,SZT,A1-B1,100.0,36.0,400.0,270000.0
558,2021-06-25 13:37:23.785,3A36.05,ZAKŁAD NR 2,15.0,10.0,SZT,A1-B1,40.0,90.0,400.0,270000.0
559,2021-06-25 13:38:28.499,3058.05,ZAKŁAD NR 2,1.0,10.0,SZT,A1-B1,50.0,72.0,400.0,270000.0

In [50]:
def count_tech_time(ilosc, czas):
    return ilosc*czas

# pierwsza['Czas_przygotowawczy w sek.']
# pierwsza['ILOSC']
# pierwsza[['ILOSC'],['Czas_przygotowawczy w sek.']].apply(lambda pierwsza: count_tech_time(pierwsza['ILOSC'], pierwsza['Czas_przygotowawczy w sek.']), axis=1)

pierwsza['czas_technologiczny'] = np.vectorize(count_tech_time)(pierwsza['ILOSC'],pierwsza['Czas_przygotowawczy w sek.'])

In [69]:
# def wydajnosc(czas_zmiany, czas_technologiczny):
#     return str(round(((czas_technologiczny * czas_zmiany) * 100), 10)) + "%"

def wydajnosc(czas_technologiczny, czas_zmiany):
    return str(round(((czas_technologiczny / czas_zmiany) * 100),2)) + "%"

In [70]:
pierwsza['wydajnosc'] = np.vectorize(wydajnosc)(pierwsza['czas_technologiczny'], pierwsza['czas_dos_zm_sek'])

In [71]:
pierwsza

,DATA_WPROWADZENIA,KOD_POLPRODUKTU,TYP_STANU,ILOSC,OSOBY,Produkt_jm,Typ_operacji,Czas_s/szt,Szt/h,Czas_przygotowawczy w sek.,czas_dos_zm_sek,czas_technologiczny,wydajnosc
0,2021-05-26 13:39:06.097,3052.03,ZAKŁAD NR 1,123.0,3.0,SZT,A1-B1,50.0,72.0,400.0,81000.0,49200.0,60.74%
1,2021-05-26 13:39:25.922,3773,ZAKŁAD NR 1,20.0,3.0,SZT,A1-B1,30.0,120.0,400.0,81000.0,8000.0,9.88%
2,2021-06-24 13:38:16.517,3773,ZAKŁAD NR 1,500.0,3.0,SZT,A1-B1,30.0,120.0,400.0,81000.0,200000.0,246.91%
3,2021-05-26 13:39:50.076,3574.10,ZAKŁAD NR 1,120.0,3.0,SZT,A1-B5,40.0,90.0,400.0,81000.0,48000.0,59.26%
4,2021-05-26 13:41:15.495,3E98,ZAKŁAD NR 1,101.0,3.0,SZT,A1-B1,60.0,60.0,400.0,81000.0,40400.0,49.88%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,2021-06-25 13:35:57.657,3B38,ZAKŁAD NR 1,54.0,3.0,SZT,A1-B5,40.0,90.0,400.0,81000.0,21600.0,26.67%
556,2021-06-25 13:36:10.289,3201.03,ZAKŁAD NR 1,96.0,3.0,SZT,A1-B1,60.0,60.0,400.0,81000.0,38400.0,47.41%
557,2021-06-25 13:37:09.161,3826.01,ZAKŁAD NR 2,4.0,10.0,SZT,A1-B1,100.0,36.0,400.0,270000.0,1600.0,0.59%
558,2021-06-25 13:37:23.785,3A36.05,ZAKŁAD NR 2,15.0,10.0,SZT,A1-B1,40.0,90.0,400.0,270000.0,6000.0,2.22%
559,2021-06-25 13:38:28.499,3058.05,ZAKŁAD NR 2,1.0,10.0,SZT,A1-B1,50.0,72.0,400.0,270000.0,400.0,0.15%